<div class="col-lg-5 bg-form-custom text-dark py-4">
  <p class="lead">FREE No Obligation Estimate!</p>
  <form 
    class="row" 
    name="contact"
    action="{{ site.url }}/thank-you/" 
    method="post" 
    data-netlify-recaptcha="true" 
    data-netlify="true">
    
    <div class="col-12">
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Full Name *</label>
        <input type="text" name="name" class="form-control form-control-lg p-3" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Phone Number *</label>
        <input type="text" name="phone" class="form-control form-control-lg p-3" id="exampleInputPassword1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email Address *</label>
        <input type="email" name="email" class="form-control form-control-lg p-3" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="exampleInputMessage" class="form-label">Tell us about your concrete project *</label>
        <textarea type="text" name="message" class="form-control form-control-lg p-3" id="exampleInputMessage"></textarea>
      </div>
      <div class="mb-3" data-netlify-recaptcha="true"></div>
      <button type="submit" class="btn btn-light btn-xl">Submit</button>
    </div>
  </form>
</div>